.btn-toggle {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10px;
  color: $colorBrown2;
  svg {
    &.plus {
      display: none;
    }
    &.minus {
      display: none;
    }
    &.current {
      display: block;
      transform: rotate(180deg);
    }
  }
}

.btn-delete {
  button {
    border: 1px solid #826754 !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    //- lk
    @media (max-width: 767px) {
      width: 32px;
      height: 32px;
    }
  }
}

.btn-toggle-sort {
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: $colorBrown2;
  svg {
    margin-left: 10px;
    &.current {
      transform: rotate(180deg);
    }
  }
  @media (max-width: 1249px) {
    font-size: 15px;
  }
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
