.contacts {
  .container__min {
    @media (max-width: 767px) {
      padding: 0;
    }
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.contacts__map {
  display: flex;
  max-width: 851px;
  width: 100%;
  flex: 1 0 auto;
  div {
    flex: 1 0 auto;
    width: 100%;
  }
  @media (max-width: 1919px) {
    max-width: 532px;
  }
  @media (max-width: 1365px) {
    max-width: 436px;
  }
  @media (max-width: 1023px) {
    max-width: 241px;
  }
  @media (max-width: 767px) {
    max-width: 100%;
    height: 277px;
  }
}

.contacts__col {
  &:first-child {
    margin-right: 20px;
    @media (max-width: 767px) {
      margin-right: 0;
    }
  }
}

.contacts__social {
  a {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
