.inner {
  margin-bottom: 180px;
  @media (max-width: 1919px) {
    margin-bottom: 160px;
  }
  @media (max-width: 1365px) {
    margin-bottom: 150px;
  }
  @media (max-width: 1249px) {
    margin-bottom: 130px;
  }
  @media (max-width: 1023px) {
    margin-bottom: 100px;
  }
  @media (max-width: 767px) {
    margin-bottom: 80px;
  }
}

.inner__title {
  position: absolute;
  left: 30px;
  bottom: 20px;
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  font-family: $fontTitle;
  @media (max-width: 1919px) {
    font-size: 34px;
  }
  @media (max-width: 1365px) {
    font-size: 30px;
  }
  @media (max-width: 1023px) {
    font-size: 28px;
  }
  @media (max-width: 767px) {
    display: none;
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 26px;
    color: $colorBase;
    margin-bottom: 30px;
  }
  &--mode {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
  }
}

.inner__picture {
  position: relative;
  height: 255px;
  margin-bottom: 100px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  @media (max-width: 1919px) {
    height: 178px;
    margin-bottom: 80px;
  }
  @media (max-width: 1365px) {
    height: 159px;
    margin-bottom: 60px;
  }
  @media (max-width: 1023px) {
    height: 130px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.inner__caption {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
  .content-size2 {
    font-weight: 500;
  }
  a {
    text-transform: uppercase;
    color: $colorBrown2;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &--center {
    justify-content: center;
    @media (max-width: 767px) {
      justify-content: flex-start;
    }
  }
  @media (max-width: 1249px) {
    margin-bottom: 30px;
  }
}

// .inner__show-more {
//   position: relative;
//   &:hover {
//     .inner__show-more-circle {
//       opacity: 1;
//       position: absolute;
//       width: 136px;
//       height: 136px;
//       left: -40px;
//       border-radius: 50%;
//       top: 50%;
//       transform: translateY(-50%);
//       background-color: $colorBlue;
//       z-index: -1;
//       @media (max-width: 1919px) {
//         width: 110px;
//         height: 110px;
//       }
//       @media (max-width: 1249px) {
//         display: none;
//       }
//     }
//   }

//   @media (max-width: 767px) {
//     display: none;
//   }
// }

// .inner__show-more-circle {
//   opacity: 0;
// }
