.wrapper {
  flex: 1 0 auto;
}

.wrapper__modal {
  display: none;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  background-color: #fff;
  z-index: 1;
  display: none;
  z-index: 100;
  &.active {
    display: block;
    background-color: rgba(243, 235, 232, 0.4);
    @media (max-width: 767px) {
      background-color: #fff;
    }
  }
  &--mode {
    &.active {
      @media (max-width: 767px) {
        background-color: rgba(243, 235, 232, 0.4);
      }
    }
  }
}
