$fontBase: "Geometria", "sans-serif";
$fontTitle: "Hagrid", "sans-serif";

$colorBase: #4c2613;
$colorBlue: #cce6f5;
$colorBlueOpacity: rgba(204, 230, 245, 0.8);
$colorBrown2: #826754;
$colorBrown3: #f3ebe8;
$colorBrown4: #deccbf;