.filter
    a(href="index.html").container.filter__back 
        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 13L1 7L7 0.999999" stroke="#826754" stroke-linecap="round"/></svg>
        span Цвет

    .filter__send 
        button Применить

    .filter__clear-all
        button Сбросить

    ul.filter__list 
        li.filter__item.filter__item--mode.active
            .container
                .filter__content.filter__content--mode
                    .filter__content-show-item 
                        span.color-item.color-item--1
                        p Белый
        li.filter__item.filter__item--mode
            .container
                .filter__content.filter__content--mode
                    .filter__content-show-item 
                        span.color-item.color-item--2
                        p Серый
        li.filter__item.filter__item--mode
            .container
                .filter__content.filter__content--mode
                    .filter__content-show-item 
                        span.color-item.color-item--3
                        p Белый
        li.filter__item.filter__item--mode
            .container
                .filter__content.filter__content--mode
                    .filter__content-show-item 
                        span.color-item.color-item--4
                        p Серый
        li.filter__item.filter__item--mode
            .container
                .filter__content.filter__content--mode
                    .filter__content-show-item 
                        span.color-item.color-item--5
                        p Белый
        li.filter__item.filter__item--mode
            .container
                .filter__content.filter__content--mode
                    .filter__content-show-item 
                        span.color-item.color-item--6
                        p Серый
        li.filter__item.filter__item--mode
            .container
                .filter__content.filter__content--mode
                    .filter__content-show-item 
                        span.color-item.color-item--7
                        p Белый
        li.filter__item.filter__item--mode
            .container
                .filter__content.filter__content--mode
                    .filter__content-show-item 
                        span.color-item.color-item--8
                        p Серый



