footer.footer 
    .container 
        .footer__wrapper 
            .footer__top
                a(href="index.html").footer__logo.logo.active
                    img(src="img/logo.svg" alt="Логотип")
                .footer__list.content-size1
                    a(href="") Помощь и информация
                    a(href="") Отзывы
                    a(href="payment.html") Доставка и возврат
                    a(href="about.html") О нас
                    a(href="questions.html") Часто задаваемые вопросы
                    a(href="") Сотрудничество
                    a(href="") Оптовые продажи
                    a(href="") Политика конфиденциальности
                .footer__content
                    .footer__send
                        input.content-size1(type="email" placeholder="E-mail для рассылки") 
                        button(type="submit")
                            img(src="img/send.svg" alt="")
                    p.content-size3 Нажимая на стрелку, вы подтверждаете, что прочли <a href="#">лицензионное соглашение</a> и даёте согласие на обработку <a href="#">персональных данных</a>

                    button.footer__button#footer-menu
                        span.content-size3 Меню
                        <svg class="current" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16" r="15.5" transform="rotate(90 16 16)" stroke="#826754"/><path d="M15.9956 23.5386L15.9956 8.45362" stroke="#826754" stroke-linecap="round"/><path d="M8.45753 15.9961L23.5425 15.9961" stroke="#826754" stroke-linecap="round"/></svg>
                        <svg width="32" height="32" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12.9707" r="11.5" transform="rotate(90 12 12.9707)" stroke="#826754"/><path d="M6.34315 12.9694L17.6569 12.9694" stroke="#826754" stroke-linecap="round"/></svg>
                    .footer__list.footer__list--mode.content-size1
                        .footer__menu
                            a(href="").content-size1 Помощь и информация
                            a(href="").content-size1 Отзывы
                            a(href="payment.html").content-size1 Доставка и возврат
                            a(href="about.html").content-size1 О нас
                            a(href="questions.html") Часто задаваемые вопросы
                            a(href="").content-size1 Сотрудничество
                            a(href="").content-size1 Оптовые продажи
                            a(href="documents.html").content-size1 Документы

                    a.footer__email.content-size1(href="mailto:pochta@gmail.com") pochta@gmail.com
                    p.content-size1 г. Курск, ул. Ленина, 1
                    .footer__social 
                        a(href="") 
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.258 0H5.29201C2.37395 0 0 2.37395 0 5.29201V14.2581C0 17.1761 2.37395 19.55 5.29201 19.55H14.2581C17.1761 19.55 19.55 17.1761 19.55 14.2581V5.29201C19.55 2.37395 17.1761 0 14.258 0V0ZM18.4039 14.2581C18.4039 16.5441 16.5441 18.4039 14.258 18.4039H5.29201C3.00591 18.4039 1.1461 16.5441 1.1461 14.2581V5.29201C1.1461 3.00591 3.00591 1.1461 5.29201 1.1461H14.2581C16.5441 1.1461 18.4039 3.00591 18.4039 5.29201V14.2581Z" fill="#4D2612"/><path d="M9.77422 4.8877C7.0792 4.8877 4.88672 7.08018 4.88672 9.7752C4.88672 12.4702 7.0792 14.6627 9.77422 14.6627C12.4692 14.6627 14.6617 12.4702 14.6617 9.7752C14.6617 7.08018 12.4692 4.8877 9.77422 4.8877ZM9.77422 13.6148C7.65715 13.6148 5.93461 11.8924 5.93461 9.7752C5.93461 7.65813 7.65715 5.93559 9.77422 5.93559C11.8914 5.93559 13.6138 7.65813 13.6138 9.7752C13.6138 11.8924 11.8914 13.6148 9.77422 13.6148Z" fill="#4D2612"/><path d="M14.6613 3.66577C13.9875 3.66577 13.4395 4.21392 13.4395 4.88759C13.4395 5.56138 13.9875 6.10952 14.6613 6.10952C15.3351 6.10952 15.8832 5.56138 15.8832 4.88759C15.8832 4.2138 15.3351 3.66577 14.6613 3.66577ZM14.6613 5.22287C14.4764 5.22287 14.326 5.07242 14.326 4.88759C14.326 4.70264 14.4764 4.55231 14.6613 4.55231C14.8462 4.55231 14.9967 4.70264 14.9967 4.88759C14.9967 5.07242 14.8462 5.22287 14.6613 5.22287Z" fill="#4D2612"/></svg>
                        a(href="") 
                            <svg width="31" height="18" viewBox="0 0 31 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.4642 13.5114C28.7935 12.7413 28.0358 12.0537 27.3029 11.3887C27.0454 11.155 26.779 10.9133 26.5224 10.6733C26.5224 10.6733 26.5223 10.6732 26.5223 10.6732C26.1772 10.3507 26.0083 10.1218 25.9906 9.95275C25.9733 9.78658 26.0918 9.54004 26.3644 9.17562C26.7721 8.62749 27.2066 8.07843 27.6269 7.54749C28.0006 7.07552 28.3868 6.58746 28.7571 6.09662L28.8402 5.98642C29.5626 5.02852 30.3095 4.03801 30.7097 2.83097C30.824 2.4849 30.9427 1.97277 30.6564 1.52319C30.37 1.07349 29.839 0.940208 29.4648 0.879164C29.282 0.849161 29.1086 0.84668 28.9472 0.84668L24.2614 0.842698C23.4513 0.829774 22.8893 1.19766 22.583 1.93642C22.3379 2.52644 22.0484 3.21022 21.713 3.85886C21.0713 5.11108 20.2559 6.55336 19.0741 7.75503L19.0216 7.80858C18.9411 7.89086 18.8097 8.02541 18.7422 8.05628C18.6141 7.97919 18.4664 7.53832 18.4732 7.30736C18.4733 7.30164 18.4734 7.29599 18.4734 7.29033L18.4692 2.10311C18.4692 2.07674 18.4673 2.05038 18.4636 2.02424C18.3585 1.2842 18.1537 0.542323 16.9311 0.311185C16.8919 0.303742 16.8521 0.300049 16.8122 0.300049H11.938C11.021 0.300049 10.5359 0.702377 10.1471 1.13857C10.0345 1.26574 9.73545 1.60339 9.88781 2.01616C10.042 2.43384 10.5014 2.51721 10.6522 2.54456C11.1833 2.64115 11.458 2.92877 11.5431 3.47863C11.7111 4.54703 11.7317 5.68997 11.608 7.07374C11.5735 7.44525 11.5093 7.72763 11.4057 7.96246C11.377 8.02748 11.3518 8.06776 11.3343 8.09147C11.3062 8.08062 11.2625 8.05985 11.2021 8.02021C10.8288 7.77552 10.5475 7.39511 10.2755 7.02735C9.18892 5.55761 8.27497 3.93433 7.48104 2.06405C7.15409 1.29765 6.53945 0.869586 5.75148 0.858508C4.25023 0.834563 2.86178 0.83514 1.50819 0.860354C0.869765 0.87097 0.422063 1.06351 0.177315 1.43272C-0.0677343 1.80262 -0.058761 2.27424 0.204054 2.83472C2.08279 6.83723 3.78868 9.74891 5.7351 12.2757C7.10561 14.0547 8.48521 15.2895 10.0767 16.1619C11.7489 17.0785 13.6347 17.5276 15.8225 17.5276C16.0713 17.5276 16.3244 17.5217 16.5809 17.51C17.9307 17.4511 18.4799 16.9367 18.5398 15.6773C18.5734 15.0116 18.6508 14.4724 18.919 14.0038C18.9941 13.8727 19.0788 13.7848 19.1455 13.7687C19.2164 13.7517 19.3422 13.7933 19.4821 13.8804C19.7379 14.0395 19.9581 14.2553 20.1392 14.4447C20.3228 14.6373 20.5083 14.8361 20.6878 15.0284C21.0698 15.4379 21.4648 15.8614 21.8787 16.2653C22.8147 17.1794 23.8938 17.5987 25.0873 17.5108L29.3755 17.5127C29.3756 17.5127 29.3757 17.5127 29.3757 17.5127C29.3893 17.5127 29.4029 17.5123 29.4165 17.5115C29.9112 17.4799 30.3388 17.2176 30.5899 16.7915C30.8923 16.2785 30.8877 15.6286 30.5775 15.0525C30.2537 14.4535 29.8337 13.938 29.4642 13.5114ZM29.5203 16.2129C29.4612 16.3132 29.3882 16.3315 29.3506 16.3359L25.0633 16.334C25.0632 16.334 25.063 16.334 25.0629 16.334C25.0459 16.334 25.029 16.3346 25.0122 16.336C24.1676 16.4034 23.4497 16.1189 22.7554 15.441C22.3616 15.0566 21.9763 14.6437 21.6037 14.2443C21.4221 14.0497 21.2344 13.8483 21.0458 13.6506C20.8119 13.4058 20.5227 13.1245 20.1512 12.8934C19.595 12.5475 19.134 12.5579 18.8454 12.6276C18.5598 12.6966 18.1537 12.8933 17.8421 13.4382C17.4383 14.1432 17.3493 14.9038 17.313 15.6223C17.292 16.0618 17.2145 16.1778 17.1821 16.2073C17.1396 16.246 16.9977 16.314 16.5243 16.3347C14.2493 16.4371 12.3401 16.0468 10.6868 15.1406C9.24854 14.3522 7.98915 13.2197 6.72355 11.577C4.83103 9.12028 3.16585 6.27531 1.32451 2.35242C1.25778 2.21031 1.23719 2.12163 1.23123 2.07415C1.2782 2.05938 1.36998 2.03993 1.5309 2.0371C2.87075 2.01224 4.24469 2.01154 5.73239 2.03532C5.93607 2.0382 6.16799 2.09676 6.3436 2.50844C7.17312 4.46261 8.13133 6.16326 9.27317 7.70772C9.57634 8.11767 9.9537 8.62795 10.5083 8.9915C11.0163 9.32477 11.4285 9.30884 11.6849 9.23683C11.9415 9.16477 12.2975 8.96456 12.5373 8.42058C12.6921 8.06995 12.7856 7.67512 12.8319 7.17627C12.9642 5.69614 12.9407 4.46556 12.7581 3.30485C12.6294 2.47324 12.1812 1.87249 11.4752 1.56571C11.6006 1.50317 11.7419 1.47709 11.9381 1.47709H16.7486C17.0192 1.53525 17.0728 1.60356 17.0912 1.62693C17.1691 1.72623 17.2137 1.96112 17.2409 2.14465L17.245 7.28405C17.2342 7.77673 17.4841 8.86941 18.3351 9.16904C18.342 9.17152 18.3491 9.17383 18.3561 9.17602C19.1309 9.41858 19.6433 8.89463 19.9184 8.61312L19.9674 8.56315C21.262 7.24677 22.1337 5.70866 22.8148 4.37959C23.1697 3.69327 23.4704 2.98335 23.7246 2.37141C23.8518 2.06451 23.9675 2.01397 24.2437 2.01956C24.2475 2.01968 24.2512 2.01968 24.2551 2.01968L28.9468 2.02366C29.0559 2.02366 29.1698 2.02487 29.2582 2.03936C29.4817 2.07582 29.5738 2.12025 29.6041 2.13865C29.6073 2.17275 29.6066 2.27084 29.539 2.47555C29.1987 3.50194 28.541 4.37399 27.8447 5.29727L27.7615 5.40765C27.3998 5.88723 27.0178 6.36976 26.6484 6.83648C26.2227 7.37429 25.7825 7.93032 25.3652 8.49149C24.4731 9.68405 24.5515 10.4754 25.6649 11.5158C25.928 11.7619 26.1977 12.0067 26.4585 12.2434C27.1982 12.9146 27.8968 13.5485 28.5203 14.2643C28.8467 14.6413 29.2167 15.094 29.4864 15.593C29.6271 15.8542 29.5926 16.0902 29.5203 16.2129Z" fill="#4D2612"/></svg>
            .footer__bottom.content-size2
                p © Copyright. Швейный магазин 2SEW. 2021.
                p Разработано в <a href="http://kvokka.com">kvokka</a>

    include ../modals/modal-enter.pug
    include ../modals/modal-podpiska.pug
    include ../modals/modal-questions.pug
    include ../modals/modal-add.pug