script(src='js/jquery.min.js')
script(src='js/slick.min.js')
//- script(src="js/jquery.validate.js")
script(src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js")
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js")
//- script(src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js")
script(src='js/js-script.js')
script(src='js/jq-script.js')
