doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header.pug

        .wrapper

            .breadcrumbs.container 
                ul.breadcrumbs__list.content-size3
                    li 
                        a(href="index.html") Главная
                    li 
                        img(src="img/arrow-breadcrumbs.svg" alt="Стрелка")
                    li 
                        a.breadcrumbs__current Контакты
 
            .contacts.container.inner 
                .inner__picture 
                    h2.inner__title Контакты
                    img(src="img/inner-pictures/contacts.png" alt="")
                .inner.container__min
                    h2.inner__title.inner__title--mode Контакты
                    .contacts__wrapper 
                        .contacts__col
                            ul.contacts__list.contacts-list 
                                li 
                                    p.contacts-list__caption.content-size2 Адрес
                                    p.content-size1 г. Курск, ул.Кати Зеленко, д.7
                                li 
                                    p.contacts-list__caption.content-size2 Телефон
                                    p.content-size1 +7 (919) 212-55-36
                                li 
                                    p.contacts-list__caption.content-size2 E–mail
                                    p.content-size1 kakayatapochta@gmail.com
                                li 
                                    p.contacts-list__caption.content-size2 Соцсети
                                    p.content-size1.contacts__social 
                                        a(href="") 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.258 0.224609H5.29201C2.37395 0.224609 0 2.59855 0 5.51662V14.4828C0 17.4007 2.37395 19.7746 5.29201 19.7746H14.2581C17.1761 19.7746 19.55 17.4007 19.55 14.4828V5.51662C19.55 2.59855 17.1761 0.224609 14.258 0.224609V0.224609ZM18.4039 14.4828C18.4039 16.7687 16.5441 18.6285 14.258 18.6285H5.29201C3.00591 18.6285 1.1461 16.7687 1.1461 14.4828V5.51662C1.1461 3.23052 3.00591 1.37071 5.29201 1.37071H14.2581C16.5441 1.37071 18.4039 3.23052 18.4039 5.51662V14.4828Z" fill="#4D2612"/><path d="M9.77422 5.11328C7.0792 5.11328 4.88672 7.30576 4.88672 10.0008C4.88672 12.6958 7.0792 14.8883 9.77422 14.8883C12.4692 14.8883 14.6617 12.6958 14.6617 10.0008C14.6617 7.30576 12.4692 5.11328 9.77422 5.11328ZM9.77422 13.8404C7.65715 13.8404 5.93461 12.118 5.93461 10.0008C5.93461 7.88371 7.65715 6.16118 9.77422 6.16118C11.8914 6.16118 13.6138 7.88371 13.6138 10.0008C13.6138 12.118 11.8914 13.8404 9.77422 13.8404Z" fill="#4D2612"/><path d="M14.6613 3.89062C13.9875 3.89062 13.4395 4.43877 13.4395 5.11244C13.4395 5.78623 13.9875 6.33437 14.6613 6.33437C15.3351 6.33437 15.8832 5.78623 15.8832 5.11244C15.8832 4.43865 15.3351 3.89062 14.6613 3.89062ZM14.6613 5.44772C14.4764 5.44772 14.326 5.29727 14.326 5.11244C14.326 4.9275 14.4764 4.77716 14.6613 4.77716C14.8462 4.77716 14.9967 4.9275 14.9967 5.11244C14.9967 5.29727 14.8462 5.44772 14.6613 5.44772Z" fill="#4D2612"/></svg>
                                        a(href="") 
                                            <svg width="30" height="18" viewBox="0 0 30 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28.5138 13.5121C27.8647 12.742 27.1314 12.0544 26.4222 11.3895C26.173 11.1557 25.9152 10.914 25.6669 10.6741C25.6668 10.674 25.6668 10.674 25.6667 10.6739C25.3328 10.3514 25.1693 10.1225 25.1522 9.95348C25.1354 9.78731 25.2501 9.54077 25.514 9.17635C25.9085 8.62822 26.329 8.07916 26.7358 7.54823C27.0973 7.07626 27.4711 6.58819 27.8294 6.09735L27.9099 5.98715C28.609 5.02925 29.3318 4.03875 29.7191 2.8317C29.8297 2.48563 29.9446 1.9735 29.6675 1.52392C29.3903 1.07422 28.8765 0.940941 28.5143 0.879896C28.3374 0.849893 28.1696 0.847412 28.0134 0.847412L23.4788 0.843431C22.6948 0.830506 22.1509 1.19839 21.8545 1.93715C21.6173 2.52717 21.3371 3.21095 21.0126 3.85959C20.3916 5.11181 19.6025 6.55409 18.4588 7.75577L18.408 7.80931C18.3301 7.89159 18.2029 8.02614 18.1376 8.05701C18.0137 7.97992 17.8707 7.53905 17.8772 7.30809C17.8774 7.30237 17.8775 7.29672 17.8775 7.29107L17.8735 2.10384C17.8735 2.07748 17.8716 2.05111 17.868 2.02497C17.7663 1.28494 17.5681 0.543055 16.385 0.311917C16.347 0.304474 16.3084 0.300781 16.2699 0.300781H11.5529C10.6655 0.300781 10.1961 0.703109 9.81975 1.13931C9.71082 1.26647 9.4214 1.60412 9.56885 2.01689C9.71805 2.43457 10.1626 2.51794 10.3085 2.54529C10.8226 2.64188 11.0884 2.9295 11.1707 3.47936C11.3334 4.54776 11.3533 5.6907 11.2335 7.07447C11.2001 7.44599 11.138 7.72836 11.0378 7.96319C11.01 8.02822 10.9857 8.06849 10.9686 8.0922C10.9415 8.08136 10.8992 8.06058 10.8407 8.02095C10.4795 7.77625 10.2073 7.39585 9.944 7.02808C8.8925 5.55834 8.00803 3.93506 7.23972 2.06478C6.92331 1.29838 6.3285 0.870318 5.56595 0.85924C4.11313 0.835295 2.76946 0.835872 1.45954 0.861086C0.841708 0.871703 0.408448 1.06424 0.171595 1.43345C-0.0655493 1.80335 -0.0568655 2.27498 0.197472 2.83545C2.0156 6.83796 3.66646 9.74964 5.5501 12.2765C6.87639 14.0554 8.21149 15.2903 9.75168 16.1627C11.3699 17.0792 13.1949 17.5284 15.3121 17.5283C15.5529 17.5283 15.7978 17.5225 16.0461 17.5108C17.3523 17.4519 17.8838 16.9375 17.9418 15.678C17.9743 15.0123 18.0491 14.4731 18.3088 14.0046C18.3814 13.8734 18.4633 13.7855 18.5279 13.7694C18.5965 13.7524 18.7183 13.794 18.8537 13.8811C19.1012 14.0402 19.3143 14.256 19.4896 14.4454C19.6672 14.638 19.8467 14.8369 20.0205 15.0292C20.3901 15.4387 20.7724 15.8621 21.1729 16.266C22.0788 17.1802 23.123 17.5994 24.278 17.5116L28.4279 17.5135C28.428 17.5135 28.4281 17.5135 28.4281 17.5135C28.4413 17.5135 28.4545 17.5131 28.4676 17.5122C28.9463 17.4806 29.3601 17.2183 29.6032 16.7923C29.8958 16.2792 29.8914 15.6293 29.5911 15.0532C29.2778 14.4543 28.8713 13.9387 28.5138 13.5121ZM28.568 16.2136C28.5108 16.3139 28.4402 16.3322 28.4038 16.3366L24.2548 16.3347C24.2547 16.3347 24.2546 16.3347 24.2544 16.3347C24.238 16.3347 24.2216 16.3353 24.2054 16.3367C23.388 16.4041 22.6932 16.1197 22.0214 15.4417C21.6403 15.0573 21.2674 14.6444 20.9068 14.245C20.7311 14.0504 20.5494 13.8491 20.3669 13.6513C20.1405 13.4065 19.8607 13.1253 19.5012 12.8941C18.9629 12.5482 18.5168 12.5587 18.2375 12.6284C17.9611 12.6973 17.5681 12.8941 17.2665 13.439C16.8758 14.144 16.7896 14.9045 16.7545 15.6231C16.7342 16.0625 16.6592 16.1786 16.6278 16.2081C16.5867 16.2467 16.4494 16.3147 15.9913 16.3354C13.7897 16.4379 11.942 16.0475 10.3421 15.1413C8.9502 14.3529 7.73143 13.2205 6.50666 11.5777C4.67519 9.12102 3.06372 6.27604 1.28179 2.35316C1.21721 2.21105 1.19728 2.12236 1.19151 2.07488C1.23697 2.06011 1.32579 2.04066 1.48151 2.03784C2.77815 2.01297 4.10776 2.01228 5.54747 2.03605C5.74458 2.03893 5.96902 2.0975 6.13897 2.50917C6.94173 4.46335 7.86903 6.16399 8.97404 7.70845C9.26742 8.1184 9.63261 8.62868 10.1693 8.99223C10.6609 9.3255 11.0598 9.30957 11.308 9.23757C11.5563 9.1655 11.9008 8.96529 12.1329 8.42131C12.2826 8.07068 12.3731 7.67585 12.418 7.177C12.546 5.69687 12.5233 4.46629 12.3466 3.30558C12.222 2.47398 11.7883 1.87322 11.1051 1.56644C11.2264 1.5039 11.3631 1.47782 11.553 1.47782H16.2083C16.4702 1.53598 16.5221 1.60429 16.5399 1.62766C16.6153 1.72696 16.6584 1.96185 16.6848 2.14539L16.6887 7.28478C16.6782 7.77746 16.9201 8.87014 17.7436 9.16977C17.7504 9.17225 17.7572 9.17456 17.764 9.17675C18.5137 9.41931 19.0096 8.89536 19.2759 8.61385L19.3233 8.56388C20.5761 7.2475 21.4197 5.70939 22.0788 4.38032C22.4223 3.694 22.7133 2.98408 22.9593 2.37214C23.0824 2.06524 23.1944 2.0147 23.4617 2.0203C23.4653 2.02041 23.4689 2.02041 23.4727 2.02041L28.013 2.02439C28.1186 2.02439 28.2288 2.02561 28.3143 2.04009C28.5307 2.07655 28.6198 2.12098 28.6492 2.13939C28.6522 2.17348 28.6515 2.27157 28.5861 2.47628C28.2568 3.50267 27.6203 4.37472 26.9465 5.298L26.866 5.40838C26.5159 5.88797 26.1462 6.37049 25.7888 6.83721C25.3768 7.37502 24.9508 7.93105 24.547 8.49222C23.6836 9.68478 23.7595 10.4762 24.837 11.5166C25.0916 11.7627 25.3526 12.0074 25.605 12.2441C26.3208 12.9153 26.9969 13.5492 27.6003 14.265C27.9162 14.642 28.2742 15.0948 28.5352 15.5938C28.6714 15.8549 28.638 16.0909 28.568 16.2136Z" fill="#4D2612"/></svg>
                                li  
                                    p.contacts-list__caption.content-size2 График работы
                                    p.content-size1 Пн. – Пт. 8:00 – 17:00
                                    p.content-size1 Сб. – Вс.  выходной

                        .contacts__col.contacts__map#map


        include modules/footer.pug
        include modules/script.pug
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src="js/ymaps.js")