doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header.pug

        .wrapper
            span.cursor-move
            .breadcrumbs.container 
                ul.breadcrumbs__list.content-size3
                    li 
                        a(href="index.html") Главная
                    li 
                        img(src="img/arrow-breadcrumbs.svg" alt="Стрелка")
                    li 
                        a.breadcrumbs__current Корзина
            .lk-enter.container.inner
                .inner__picture 
                    h2.inner__title Личный кабинет
                    img(src="img/inner-pictures/lk.png" alt="")

                .lk-form.form
                    .lk-form__top
                        h2.title-sub Вход
                        .input-container.ic2
                            input.input(type='text' placeholder=' ')
                            .cut
                            label.placeholder(for='') Email
                        .input-container.ic2
                            input.input(type='password' placeholder=' ')
                            .cut
                            label.placeholder(for='') Пароль
                        a(href="").lk-form__link.content-size2.block-move Восстановление пароля
                    .lk-form__bottom
                        .lk-form__bottom.content-size2
                            a.btn-round Войти <i></i>
                            a(href="") Регистрация 



        include modules/footer.pug
        include modules/script.pug