doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header.pug

        .wrapper
            span.cursor-move
            .breadcrumbs.container 
                ul.breadcrumbs__list.content-size3
                    li 
                        a(href="index.html") Главная
                    li 
                        img(src="img/arrow-breadcrumbs.svg" alt="Стрелка")
                    li 
                        a.breadcrumbs__current Корзина
            .lk.container.inner
                .inner__picture 
                    h2.inner__title Личный кабинет
                    img(src="img/inner-pictures/lk.png" alt="")
                .container__min.tabs
                    .lk__caption.content-size2.tabs__caption
                        div.tabs__wrapper
                            p.active Личные данные <i></i>
                            p История заказов <i></i>
                            p Мои выкройки <i></i>
                    //-lk__content  
                    .lk__content.tabs__content.active
                        //- lk__list
                        ul.lk__list.lk-list
                            li.lk-list__item 
                                p.lk-list__title.content-size2 Имя:
                                .lk-list__input
                                    input.content-size1(type="text" placeholder="Иван")
                                    .btn-delete 
                                        button 
                                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 9L1 1" stroke="#826754" stroke-linecap="round"/><path d="M1 9L9 1" stroke="#826754" stroke-linecap="round"/></svg>
                            li.lk-list__item 
                                p.lk-list__title.content-size2 Фамилия:
                                .lk-list__input
                                    input.content-size1(type="text" placeholder="Иван")
                                    .btn-delete 
                                        button 
                                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 9L1 1" stroke="#826754" stroke-linecap="round"/><path d="M1 9L9 1" stroke="#826754" stroke-linecap="round"/></svg>
                            li.lk-list__item 
                                p.lk-list__title.content-size2 Отчество:
                                .lk-list__input
                                    input.content-size1(type="text" placeholder="Иван")
                                    .btn-delete 
                                        button 
                                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 9L1 1" stroke="#826754" stroke-linecap="round"/><path d="M1 9L9 1" stroke="#826754" stroke-linecap="round"/></svg>
                            li.lk-list__item
                                p.lk-list__title.content-size2 Пол:
                                .lk-list__input.lk-list__input--notboard
                                    .lk-list__checkbox.content-size1
                                        .lk-list__checkbox-item
                                            input(type="radio" id="pol-men" name="pol" checked) 
                                            label(for="pol-men") Мужской
                                        .lk-list__checkbox-item
                                            input(type="radio" id="pol-women" name="pol")
                                            label(for="pol-women") Женский

                            li.lk-list__item
                                p.lk-list__title.content-size2 Дата рождения:
                                .lk-list__input
                                    p.content-size1 01.03.1995
                                    .btn-delete 
                                        button 
                                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 9L1 1" stroke="#826754" stroke-linecap="round"/><path d="M1 9L9 1" stroke="#826754" stroke-linecap="round"/></svg>

                        //- lk__list
                        ul.lk__list.lk-list
                            li.lk-list__item 
                                p.lk-list__title.content-size2 Город:
                                .lk-list__input
                                    input.content-size1(type="text" placeholder="Москва")
                                    .btn-delete 
                                        button 
                                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 9L1 1" stroke="#826754" stroke-linecap="round"/><path d="M1 9L9 1" stroke="#826754" stroke-linecap="round"/></svg>
                            li.lk-list__item 
                                p.lk-list__title.content-size2 Улица:
                                .lk-list__input
                                    input.content-size1(type="text" placeholder="Ленина")
                                    .btn-delete 
                                        button 
                                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 9L1 1" stroke="#826754" stroke-linecap="round"/><path d="M1 9L9 1" stroke="#826754" stroke-linecap="round"/></svg>
                            li.lk-list__item.lk-list__item--mode
                                .lk-list__item-sub 
                                    p.lk-list__title.content-size2 Дом:
                                    .lk-list__input
                                        input.content-size1(type="text" placeholder="1")
                                        .btn-delete 
                                            button 
                                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 9L1 1" stroke="#826754" stroke-linecap="round"/><path d="M1 9L9 1" stroke="#826754" stroke-linecap="round"/></svg>
                                .lk-list__item-sub 
                                    p.lk-list__title.content-size2 Квартира:
                                    .lk-list__input
                                        input.content-size1(type="text" placeholder="10")
                                        .btn-delete 
                                            button 
                                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 9L1 1" stroke="#826754" stroke-linecap="round"/><path d="M1 9L9 1" stroke="#826754" stroke-linecap="round"/></svg>
                            li.lk-list__item
                                p.lk-list__title.content-size2 Телефон:
                                .lk-list__input
                                    input.content-size1(type="text" placeholder="+7 (123) 456 78 90")
                                    .btn-delete 
                                        button 
                                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 9L1 1" stroke="#826754" stroke-linecap="round"/><path d="M1 9L9 1" stroke="#826754" stroke-linecap="round"/></svg>


                            li.lk-list__item.lk-list__item--email
                                p.lk-list__title.content-size2 E-mail:
                                .lk-list__input
                                    input.content-size1(type="email" placeholder="kakoitoadres@yandex.ru")
                                    .btn-delete 
                                        button 
                                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 9L1 1" stroke="#826754" stroke-linecap="round"/><path d="M1 9L9 1" stroke="#826754" stroke-linecap="round"/></svg>
                        .lk__action.content-size2 
                            a#lk-cabinet-delete.block-move Удалить личный кабинет
                            a#change-password.block-move Сменить пароль
                    .lk__content.tabs__content
                        //- lk-table
                        .lk__table.lk-table
                            table.content-size2
                                thead 
                                    tr 
                                        th Номер заказа
                                        th Состояние
                                        th Доставка
                                        th Оплата
                                        th(colspan="2") Повтор/отмена/печать заказа
                                tbody
                                    tr 
                                        td.lk-table__order Заказ №741863
                                        td Отправлен
                                        td.lk-table__delivery Почта России
                                        td Оплачен
                                        td.lk-table__buttons
                                            button
                                                img(src="img/refresh.svg" alt="")
                                            button
                                                img(src="img/canceled.svg" alt="")
                                            button
                                                img(src="img/print.svg" alt="")
                                        td
                                            .btn-delete 
                                                button 
                                                    //- <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 9L1 1" stroke="#826754" stroke-linecap="round"/><path d="M1 9L9 1" stroke="#826754" stroke-linecap="round"/></svg>
                                                    img(src="img/plus-2.svg" alt="")
                                    tr
                                        td.lk-table__order Заказ №102030
                                        td В обработке
                                        td.lk-table__delivery СДЭК
                                        td Оплачен
                                        td.lk-table__buttons
                                            button
                                                img(src="img/refresh.svg" alt="")
                                            button
                                                img(src="img/canceled.svg" alt="")
                                            button
                                                img(src="img/print.svg" alt="")
                                        td
                                            .btn-delete 
                                                button 
                                                    //- <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 9L1 1" stroke="#826754" stroke-linecap="round"/><path d="M1 9L9 1" stroke="#826754" stroke-linecap="round"/></svg>  
                                                    img(src="img/plus-2.svg" alt="")
                                    tr 
                                        td.lk-table__order Заказ №741863
                                        td Отправлен
                                        td.lk-table__delivery Самовывоз
                                        td При получении
                                        td.lk-table__buttons
                                            button
                                                img(src="img/refresh.svg" alt="")
                                            button
                                                img(src="img/canceled.svg" alt="")
                                            button
                                                img(src="img/print.svg" alt="")
                                        td
                                            .btn-delete 
                                                button 
                                                    //- <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 9L1 1" stroke="#826754" stroke-linecap="round"/><path d="M1 9L9 1" stroke="#826754" stroke-linecap="round"/></svg>
                                                    img(src="img/plus-2.svg" alt="")
                        .lk__table.lk-table-mobile 
                            //- lk-table-mobile__item 
                            .lk-table-mobile__item 
                                .lk-table-mobile__add
                                    button 
                                        img(src="img/add.svg" alt="")
                                p.lk-table__order Заказ №741863
                                ul.like-table-mobile__description
                                    li
                                        p.lk-table-mobile__title Состояние:
                                        p.lk-table-mobile__value Отправлен
                                    li
                                        p.lk-table-mobile__title Оплата:
                                        p.lk-table-mobile__value Оплачен
                                    li
                                        p.lk-table-mobile__title Доставка:
                                        p.lk-table-mobile__value Почта России
                                    li.like-table-mobile__action
                                        p.lk-table-mobile__title Повтор/отмена/печать заказа:
                                        .lk-table__buttons
                                            button
                                                img(src="img/refresh.svg" alt="")
                                            button
                                                img(src="img/canceled.svg" alt="")
                                            button
                                                img(src="img/print.svg" alt="")
                            //- lk-table-mobile__item 
                            .lk-table-mobile__item 
                                .lk-table-mobile__add
                                    button 
                                        img(src="img/add.svg" alt="")
                                p.lk-table__order Заказ №741863
                                ul.like-table-mobile__description
                                    li
                                        p.lk-table-mobile__title Состояние:
                                        p.lk-table-mobile__value Отправлен
                                    li
                                        p.lk-table-mobile__title Оплата:
                                        p.lk-table-mobile__value Оплачен
                                    li
                                        p.lk-table-mobile__title Доставка:
                                        p.lk-table-mobile__value Почта России
                                    li.like-table-mobile__action
                                        p.lk-table-mobile__title Повтор/отмена/печать заказа:
                                        .lk-table__buttons
                                            button
                                                img(src="img/refresh.svg" alt="")
                                            button
                                                img(src="img/canceled.svg" alt="")
                                            button
                                                img(src="img/print.svg" alt="")
                            //- lk-table-mobile__item 
                            .lk-table-mobile__item 
                                .lk-table-mobile__add
                                    button 
                                        img(src="img/add.svg" alt="")
                                p.lk-table__order Заказ №741863
                                ul.like-table-mobile__description
                                    li
                                        p.lk-table-mobile__title Состояние:
                                        p.lk-table-mobile__value Отправлен
                                    li
                                        p.lk-table-mobile__title Оплата:
                                        p.lk-table-mobile__value Оплачен
                                    li
                                        p.lk-table-mobile__title Доставка:
                                        p.lk-table-mobile__value Почта России
                                    li.like-table-mobile__action
                                        p.lk-table-mobile__title Повтор/отмена/печать заказа:
                                        .lk-table__buttons
                                            button
                                                img(src="img/refresh.svg" alt="")
                                            button
                                                img(src="img/canceled.svg" alt="")
                                            button
                                                img(src="img/print.svg" alt="")
                    .lk__content.tabs__content
                        //- lk-table
                        .lk__table.lk-table2
                            table.lk-table2__table.lk-table2__table--desctop.content-size2
                                thead 
                                    tr 
                                        th.content-size2 Фото/наименование выкройки
                                        th.content-size2 Дата покупки
                                        th.content-size2 Скачать/распечатать
                                tbody 
                                    tr 
                                        td 
                                            img(src="img/lk/img1.png" alt="")
                                            span.content-size1 Выкройка платья летнего №0152
                                        td.content-size2 14.02.2021
                                        td 
                                            img(src="img/download.svg" alt="")
                                            img(src="img/print.svg" alt="")
                                    tr 
                                        td 
                                            img(src="img/lk/img2.png" alt="")
                                            span.content-size1 Выкройка платья летнего №0152
                                        td.content-size2 23.01.2021
                                        td 
                                            img(src="img/download.svg" alt="")
                                            img(src="img/print.svg" alt="")

                            .lk-table2-mobile 
                                //- lk-table-mobile__item 
                                .lk-table-mobile2__item 
                                    .lk-table-mobile2__img 
                                        img(src="img/lk/img1.png" alt="")
                                    .lk-table-mobile2__content
                                        p.lk-table__order.content-size1 Выкройка платья летнего №0152
                                        ul.like-table2-mobile__description
                                            li
                                                p.lk-table-mobile__title.content-size3 Дата покупки:
                                                p.lk-table-mobile__value 14.02.2021
                                            li
                                                p.lk-table-mobile__title.content-size3 Скачать/распечатать:
                                                p.lk-table-mobile2__buttons
                                                    a(href="#") 
                                                        img(src="img/download.svg" alt="")
                                                    a(href="#") 
                                                        img(src="img/print.svg" alt="")
                                //- lk-table-mobile__item 
                                .lk-table-mobile2__item 
                                    .lk-table-mobile2__img 
                                        img(src="img/lk/img2.png" alt="")
                                    .lk-table-mobile2__content
                                        p.lk-table__order.content-size1 Выкройка брюк классических прямых №1478
                                        ul.like-table2-mobile__description
                                            li
                                                p.lk-table-mobile__title.content-size3 Дата покупки:
                                                p.lk-table-mobile__value 14.02.2021
                                            li
                                                p.lk-table-mobile__title.content-size3 Скачать/распечатать:
                                                p.lk-table-mobile2__buttons
                                                    a(href="#") 
                                                        img(src="img/download.svg" alt="")
                                                    a(href="#") 
                                                        img(src="img/print.svg" alt="")




        include modules/footer.pug
        include modules/script.pug