doctype html 
html(lang="ru")
    include modules/head
body
    include modules/header.pug

    .wrapper
        span.cursor-move
        .breadcrumbs.breadcrumbs--mode.container 
            ul.breadcrumbs__list.content-size3
                li 
                    a(href="index.html") Главная
                li 
                    img(src="img/arrow-breadcrumbs.svg" alt="Стрелка")
                li 
                    a.breadcrumbs__current Корзина

        .basket.basket__finish
            .container.inner 
                .basket__empty.inner.container__min
                    .inner__caption.inner__caption--center
                        h2.title-sub Спасибо за заказ!
                    .content-size1.tac.text-block  
                        p На Ваш e–mail поступит информация о состоянии вашего <span class="basket__order">заказа № <a id="order-number">115</a></span>
                    .basket__empty-buttons.content-size2
                        a(href="lk.html").block-move Личный кабинет 
                        a(href="#").block-move Печать бланка




    include modules/footer.pug
    include modules/script.pug