.wrapper__modal#add-modal.wrapper__modal--mode
    .modal.modal__add
        button.modal__closed#closed-modal
            img(src="img/closed-modal.svg" alt="")
        .modal__content
            h2.modal__title.modal__title--mode.title-sub Товар добавлен в <i class="br"></i> корзину
            .modal__card 
                .modal__picture-add 
                    img(src="img/card/img1.png" alt="")
                .modal__text.modal__text--mode
                    p Винтажное льняное полотно - Темная орхидея
            .btn-round__wrapper.btn-round__wrapper--mode
                button.btn-round(type="submit" value="Войти") В корзину <i></i>
                a(href="").btn-round.btn-round--notactive В каталог