@import "utils/stylesheet";
@import "./node_modules/normalize.css/normalize";
@import "utils/slick";
@import "utils/variables";
@import "mixins/media";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: $fontBase;
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-family: $fontBase;
  color: $colorBase;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  &.hidden {
    overflow: hidden;
  }
}

.container {
  position: relative;
  max-width: 1920px;
  padding: 0 70px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1919px) {
    padding: 0 60px;
  }
  @media (max-width: 1249px) {
    padding: 0 50px;
  }
  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

.container__min {
  max-width: 1180px;
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1919px) {
    max-width: 783px;
  }
  @media (max-width: 1365px) {
    max-width: 711px;
  }
  @media (max-width: 1023px) {
    max-width: 484px;
  }
  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.tac {
  text-align: center;
}

input {
  outline: none;
  color: $colorBase;
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $colorBrown2;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $colorBrown2;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $colorBrown2;
  }
  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
  }
}
